# mp
ACCESS_TOKEN_MP=

# paypal
PAYPAL_CLIENT_ID=
PAYPAL_SECRET=

# auth0
AUTH0_DOMAIN=
AUTH0_AUDIENCE=
AUTH0_MGMT_CLIENT_ID=
AUTH0_MGMT_CLIENT_SECRET=
CLIENT_ORIGIN_URL=

# postgres
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_URL=
