fastapi
uvicorn
sqlalchemy 
psycopg2-binary 
google-auth 
google-auth-oauthlib 
google-auth-httplib2 
google-api-python-client
psycopg2-binary
mercadopago
starlette
itsdangerous
authlib
httpx
secure==0.3.0
PyJWT==2.4.0
pydantic==1.10.2
alembic