#gral-invites-table-container {
  width: 100%;
  font-family: sans-serif;
  border: 2px solid #C4DDD6;
  border-radius: 8px;
  background-color: #ECECDD;
  color: #383838;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  margin-top: 24px;
}

#table-invites-title-container {
  font-size: 20px;
  color: #3D3D3D;
  padding: 12px 16px;
  border-bottom: 2px solid #C4DDD6;
  background-color: #E4DDD6;
  font-weight: bold;
}

#table-invites-title-container h2 {
  margin: 0;
  background: linear-gradient(90deg, #383838, #757575, #383838);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

#table-invites-container {
  padding: 8px 16px;
}

#invites-table {
  width: 100%;
  border-collapse: collapse;
}

#invites-table thead {
  background-color: #D4DDD6;
  height: 40px;
}

#invites-table thead th {
  border: 2px solid #000000;
  color: #383838;
  padding: 10px;
  text-align: center;
  font-weight: 600;
  font-size: 0.95rem;
}


#invites-table thead th.invites-inviteDate {
  width: 12%;
}
#invites-table thead th.invites-prof {
  width: 20%;
}
#invites-table thead th.invites-title {
  width: 36%;
}
#invites-table thead th.invites-date {
  width: 12%;
}
#invites-table thead th.invites-hour {
  width: 10%;
}
#invites-table thead th.invites-duration {
  width: 10%;
}



#invites-table tbody {
  background-color: #ECECDD;
}

#invites-table tbody tr {
  height: 50px;
  border-bottom: 1px solid #D4DDD6;
  background-color: #F5F5F1;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
}

#invites-table tbody tr:hover {
  background-color: #E4E3CD;
}

#invites-table tbody td {
  padding: 10px;
  color: #383838;
  font-size: 0.9rem;
  text-align: center;
}

#invites-table tbody td:first-child {
  font-weight: 600;
}
