.event-section {
  padding: 2rem;
  max-width: 1100px;
  margin: auto;
  font-family: sans-serif;
  background-color: #ECECDD;
}

.event-section h2 {
  font-size: 30px;
  text-align: left;
  color: #383838;
  text-shadow: 1px 2px 4px rgba(28, 182, 150, 0.3);
}

.event-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 1.5rem;
}

.event-card {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  background: linear-gradient(135deg, #ffffff, #E4DDD6);
  border-radius: 12px;
  overflow: hidden;
  color: #383838;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.event-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(28, 182, 150, 0.2);
}

.event-card-date {
  background: #C4DDD6;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 70px;
  justify-content: center;
  border-right: 1px solid #D4DDD6;
}

.event-card-date .weekday,
.event-card-date .month {
  font-size: 0.8rem;
  color: #666;
}
.event-card-date .day {
  font-size: 1.5rem;
  font-weight: bold;
  color: #1cb698;
}

.event-card-body {
  padding: 1rem;
  flex: 1;
}

.event-card-body h3 {
  margin: 0 0 0.5rem;
  font-size: 1.1rem;
  color: #1cb698;
}

.event-card-body p {
  font-size: 0.85rem;
  margin: 0.3rem 0;
  color: #444;
}

.event-category {
  display: inline-block;
  margin-top: 0.5rem;
  font-size: 0.75rem;
  padding: 2px 6px;
  border-radius: 4px;
  background-color: #C4DDD6;
  color: #000;
  font-weight: bold;
}

/* Color por categoría */
.category-programacion .event-category {
  background-color: #1cb698;
  color: #fff;
}
.category-matematicas .event-category {
  background-color: #ffcc00;
  color: #000;
}
.category-astronomia .event-category {
  background-color: #7d5fff;
  color: #fff;
}
.category-tecnologia .event-category {
  background-color: #ff5fea;
  color: #fff;
}
.category-ciencias .event-category {
  background-color: #72ff5f;
  color: #000000;
}
.category-fisica .event-category {
  background-color: #fa8705;
  color: #000000;
}
.category-literatura .event-category {
  background-color: #0307fc;
  color: #ffffff;
}
.category-geografia .event-category {
  background-color: #39b4fc;
  color: #ffffff;
}
.category-guitarra .event-category {
  background-color: #723d00;
  color: #ffffff;
}
.category-baile .event-category {
  background-color: #ff5f74;
  color: #ffffff;
}
.category-python .event-category {
  background-color: #fbff00;
  color: #1302ff;
}
