.tutorial-container *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.tutorial-container {
  position: fixed;
  top: 9rem;
  left: 1rem;
  z-index: 10;
  color: #292929;
}

.tutorial-toggle-btn {
  background-color: #2571a4;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  transition: background-color 0.2s;
}

.tutorial-toggle-btn:hover {
  background-color: #2980b9;
}

.tutorial-popup {
  font-size: 1.1rem;
  margin-top: 1rem;
  padding: 2rem;
  max-width: 450px;
  background-color: rgb(240, 240, 240);
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  max-height: 80vh;
  overflow-y: auto;
}

.tutorial-popup h2 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.tutorial-popup h4 {
  font-size: 1rem;
  margin: 0;
}

.tutorial-popup p {
  margin-bottom: 3rem;
}

.tutorial-nav {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 0 0 0;
}

.tutorial-nav button {
  padding: 0.3rem 0.7rem;
  background-color: #2571a4;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.tutorial-nav button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.tutorial-nav button:not(:disabled):hover {
  background-color: #2980b9;
}

.tutorial-close {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: #888;
  background: none;
  border: none;
  cursor: pointer;
}

.tutorial-close:hover {
  text-decoration: underline;
}

.tutorial-popup button {
    padding: 0.5rem 1rem;
}
